<div *ngIf="nav.visible">
  <footer class="page-footer amber lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l2 s12 m3">
                <h5 class="grey-text text-darken-3">Siguenos</h5>
                <a href="https://www.facebook.com/pages/Juventud-Mercedaria-Cancun/147832881939433"> 
                <img class="col offset-m1 offset-l1" src="../../assets/img/face-material.png"></a>
                </div>
                <div class="col l4 s12 m5">
                <h5 class="grey-text text-darken-3">Comunicate</h5>
                  <div class="valign-wrapper">
                    <img src="../../assets/img/whatsapp-material.png">
                     <p class="grey-text text-darken-3 valign">Cel. 9981 79 95 14</p>
                  </div>
              </div>
                <div class="col l3 s12 m4 offset-l2">
                <h5 class="grey-text text-darken-3">Mapa del Sitio</h5>
                <ul>
                  <li><a class="grey-text text-darken-3 cursorpointer" [routerLink]="['/nosotros']">Nosotros</a></li>
                  <li><a class="grey-text text-darken-3 cursorpointer" [routerLink]="['/actividades']">Actividades</a></li>
                  <li><a class="grey-text text-darken-3 cursorpointer" [routerLink]="['/contacto']">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              <div class="row">
                <div class="col s12 m6 l6">
                <a class="grey-text text-darken-3">¡Juventud Mercedaria 2017!</a>
              </div>
              <div class="col s12 m6 l6 cent">
                <a class="grey-text text-darken-3 right">© 2017 Copyright</a>
              </div>
            </div> 
            </div>
          </div>
  </footer>
</div>
