<br>

<div class="container z-depth-5">
  <!--Sección de Imagen y autor-->

  <div class="amber accent-3">
    <div class="valign-wrapper">
        &nbsp;&nbsp;&nbsp;&nbsp; <h4>{{noticia.titulo}}</h4>
    </div>
    <div class="center red">
      <img class="responsive-img" src="{{noticia.url}}">
    </div>
    <div class="valign-wrapper">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <p><b>{{noticia.autor}}</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{noticia.fecha}}</p>
    </div>
  </div>
  <!--Sección de Titulo, Contenido e informacion lateral-->

  <div class="row">
    <div class="col l9 m9 s12">
      <p class="flow-text" style="text-align: justify;">{{noticia.contenido}}</p>
    </div>
    <div class="col l3 m3 s12">
      <div class="row col s12 m12 12 hoverable" *ngFor="let noticia of noticias">
        <!--<a [routerLink]="['/noticia/'+item.$key]">-->
        <div class="card-image">
          <img src="{{noticia.url}}" class="responsive-img">
        </div>
        <span class="card-title">
          <h5>{{noticia.titulo}}</h5>
        </span>
        <!-- </a>-->
      </div>
    </div>
  </div>
</div>