<br>
<div class="container">
  <!--Sección de Imagen y autor-->
  <div class="row">
    <div class="col l12 m12 s12 red" height="200">
      <img class="responsive-img" src="{{noticia.url}}">
      <div class="col l12 m12 s12">
        <p>
          <b>{{noticia.autor}}</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{noticia.fecha}}</p>
      </div>
    </div>
  </div>
  <!--Sección de Titulo, Contenido e informacion lateral-->

  <div class="row">
    <div class="col l9 m9 s12">
      <h4>{{noticia.titulo}}</h4>
      <p class="flow-text" style="text-align: justify;">{{noticia.contenido}}</p>
    </div>
    <div class="col l3 m3 s12">


      <div class="col s12 m12 12 hoverable" *ngFor="let noticia of noticias" item-width="25" item-height="25">
        <div class="">
          <!--<a [routerLink]="['/noticia/'+item.$key]">-->
          <div class="card-image">
            <img src="{{noticia.url}}" class="responsive-img">

          </div>
          <span class="card-title">
            <h5>{{noticia.titulo}}</h5>
          </span>
          <!-- </a>-->
        </div>
      </div>



    </div>
  </div>
</div>