<div *ngIf="nav.visible">
  <!--<div class="navbar-fixed" id="barra">
      <nav class="amber lighten-1">
        <div class="nav-wrapper">
          <div class="container">
          <div class="row">
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons md-light">menu</i></a>
          <a href=""><img class="col offset-m5 offset-s4 offset-l1" src="assets/img/logoe.png"></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="grey-text text-darken-2" [routerLink]="['/nosotros']">Nosotros</a></li>
              <li><a class="grey-text text-darken-2" [routerLink]="['/actividades']">Actividades</a></li>
              <li><a class="grey-text text-darken-2" [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
            <ul id="mobile-demo" class="side-nav">
              <li><a class="grey-text text-darken-2" [routerLink]="['/nosotros']">Nosotros</a></li>
              <li><a class="grey-text text-darken-2" [routerLink]="['/actividades']">Actividades</a></li>
              <li><a class="grey-text text-darken-2" [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
          </div>
          </div>
          </div>
      </nav>
    </div>-->

  <nav class="amber lighten-1">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#!" class="brand-logo" id="homejumer" onClick="reply_click()">
          <img src="assets/img/logoe.png">
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="grey-text text-darken-2" [routerLink]="['/nosotros']">Nosotros</a>
          </li>
          <li>
            <a class="grey-text text-darken-2" [routerLink]="['/actividades']">Actividades</a>
          </li>
          <li>
            <a class="grey-text text-darken-2" [routerLink]="['/contacto']">Contacto</a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a class="grey-text text-darken-2" [routerLink]="['/nosotros']">Nosotros</a>
          </li>
          <li>
            <a class="grey-text text-darken-2" [routerLink]="['/actividades']">Actividades</a>
          </li>
          <li>
            <a class="grey-text text-darken-2" [routerLink]="['/contacto']">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>