<div>
<br><br>
    <div class="container">
      <div class="row">
          <div class="col l6 s12 m6">
              <h4>Inicios</h4>
              <p class="flow-text">Somos un grupo Juvenil Mercedario fundando en Octubre del 2007 por el Padre Pedro Zavala Guerro de la Orden de la Merced, estamos ubicados en la Parroquia Nuestra Señora de la Merced en la Ciudad de Cancun, Quintana Roo. Desde los inicios nos enfocamos a ser un grupo de jovenes alegres con bases en el carisma Mercedario</p>

          <div class="divider"></div>
        </div>
        <div class="col l6 s1 m6 center">
              <img class="responsive-img hide-on-small-only" src="assets/img/inicios1.png">
        </div>
      </div> 
    </div>
    <br><br>

    <div class="container">
      <div class="row">
        <div class="col l6 s1 m6 center">
              <a><img class="responsive-img hide-on-small-only" src="assets/img/carisma.png"></a>
        </div>
          <div class="col l6 s12 l6 m6">
            <div class="section">
              <h4>Carisma</h4>
              <p class="flow-text">Nuestro carisma Mercedario es redimir cautivos presos en los vicios que se encuentran en la actualidad como son las drogas,  el alcohol, la pornografía y todas las formas de cautividad que estan presentes en la sociedad de hoy.</p>
          </div>
          <div class="divider"></div>
        </div>
      </div> 
    </div>
    <br><br>

    <div class="container">
      <div class="row">
          <div class="col l6 m6 s12">
            <div class="section">
              <h4>Espiritualidad</h4>
              <p class="flow-text">Imitar a Cristo nuestro redentor y liberador, ser jovenes servidores de los demas en cada aspecto de nuestra vida, sirviendo siempre con Amor.</p>
          </div>
          <div class="divider"></div>
        </div>
        <div class="col l6 s1 m6 center">
              <a><img class="responsive-img hide-on-small-only" src="assets/img/espiritual.png"></a>
        </div>
      </div> 
    </div>
    <br><br>
  </div>