<div id="contactividades">
    <br><br>
    <div class="container center">
      <div class="row">
        <div class="col l6 m12 s12">
          <h5>Salidas a misionar</h5>
          <p>Como grupo Crisitiano Catolico estamos llamados a ser misioneros y llevar la palabra de Dios a las personas que estan alejadas de la iglesia, estamos en mision continua, tenemos sectores asignados en nuestra comunidad, donde asistimos continuamente en fechas establecidas, notamos las necesidades de las personas a las que visitamos y tratamos de apoyarlas.</p>
          <img class="responsive-img center" src="assets/img/mision.jpg">
        </div>
        <div class="col l6 m12 s12">
          <h5>Formacion Humana y Cristiana</h5>
          <p>Somos un grupo en constante crecimiento y aprendizaje de la Fé, esa Fé que debemos tener y demostrar con obras. Ricibimos temas de formación humana los viernes a las 8:00 p.m. y los sabados recibimos formación Cristiana a las 7:00 p.m.</p><br><br>
          <img class="responsive-img center" src="assets/img/formacion.jpg">
        </div>
        <div class="col l12 m12 s12">
        <h5>Servicio en la Misa</h5>
          <p>Participamos tambien en la pastoral Liturgica, es por eso que servimos en las misas de las 8:00 am los domingos, participamos en las Lecturas, Salmos y Monición, tambien en el servicio de la colecta.</p>
        </div>
      </div>
   </div>
</div>